
<h3 class="heading">To attend the event</h3>
    <div class="container">
    <div class="row">
    <div class="steps col-xs-12 col-md-5 col-lg-6">
            <p class="stepNo">Step 1.)</p> <p class="stepDetail">Open the Mobile app</p>
            <p class="stepNo">Step 2.)</p> <p class="stepDetail">Click on an event you want to attend to</p>
            <p class="stepNo">Step 3.)</p> <p class="stepDetail">Point your phone to the screen to capture the code</p>
        
    </div>

    <div class="qrCode  col-xs-12 col-md-5 col-lg-6">
    <h4 class="message">Participants, please check into the event here</h4>

    
                <ngx-qrcode 
                [qrc-element-type]="elementType" 
                [qrc-value] = "value">
                </ngx-qrcode>
    
    </div>
    </div>  

    </div>

