
.heading {
    text-align: center;
    color: #008fb3;
    font-weight: 900;
}

.stepNo {
    color: #8c8c8c;

}

.stepDetail {
    color: #fff;
}

.steps {
    font-size: 18px;
}

.message {
    color: #000;

    
}

.container {
    margin: 20px;
    padding: 20px;
}



