<div class="wrp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8" >
        <div class="card leftsplit" >
          <div class="card-body">
         <h2 class="stepDetail">1. Open the Mobile app</h2>
         <h2 class="stepDetail">2. Click on an event you want to attend to</h2>
         <h2 class="stepDetail">3. Point your phone to the screen to capture the   code</h2>
      </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="card rightsplit" >
          <div class="card-body">
            <div class=" center-block justify-content-md-centre">
              <button type="submit" class="btn btn-primary btntext  buttoncrt1" (click)="createQr()">Create Event</button>
            <ngx-qrcode class="qr"
              [qrc-element-type]="elementType"
              [qrc-value] = "value">
            </ngx-qrcode>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="goback">
      <button type="submit" class="btn btn-primary btntext  buttoncrt1" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>

