<!--<div class="wrp">-->

<p id="overlayMessage">Cannot display Console on this screen size</p>

<div class="container-fluid">
  <div class="row topDiv">

    <div class="logo">
      <!--<img src="../../../assets/images/kliq-logo.png">-->
      <h2>Kliq</h2>
    </div>
    <!--<img src="https://seeklogo.com/images/S/snapchat-ghost-logo-B618EE0704-seeklogo.com.png" class="divtopimage" >-->
    <!--<div class="divtoplogotext">-->
    <!--Kliq-->
    <!--</div>-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <div class="card view-qr">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="checkInMessage">Participants, Please Check-in To The Event Here</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h1 class="eventName">{{ eventName }}</h1>
                <div class="stepDetails">
                  <p>1. Open kliq App on your phone</p>
                  <p>2. Tap Menu <img  class="icons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/768px-Hamburger_icon.svg.png"> and select <img  class="icons" src="https://png.icons8.com/metro/1600/checked-checkbox.png"> Happening</p>
                  <p>3. Choose the event on the Screen</p>
                  <p>4. Tap to open the QR code on Event</p>
                  <p>5. Point your phone to the screen to capture the code</p>
                </div>
                <div class="getHelp">
                  <a href="#">Need help to get started?</a>
                </div>


              </div>
              <div class="col-md-5">
                <div class="qrImage" id="qr">
                  <img src="https://seeklogo.com/images/S/snapchat-ghost-logo-B618EE0704-seeklogo.com.png" *ngIf="showLogo" class="logoOnQr" id="kliqlogo" >
                  <ngx-qrcode  class="qr"
                               [qrc-element-type]="value"
                               [qrc-value] = "value" >

                  </ngx-qrcode>
                  <div *ngIf="showSpinner" class="loader" id="spinner"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <div class="app">
    <button id="android"><a href="https://play.google.com/store/apps/details?id=com.populo.gradchat&hl=en"><img class="appLogo" src="../../../assets/images/android-logo.jpg"></a><a routerLink="/android">Get QR code</a></button>
    <button id="iphone"><a href="https://itunes.apple.com/us/app/gradchat/id1259036050?mt=8"><img class="appLogo" src="../../../assets/images/apple-logo.jpg"></a><a routerLink="/ios">Get QR code</a></button>

  </div>

  <div>
    <p class="copyright">&#169; 2018 Kliq</p>
  </div>

</div>
