.container{
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.createEventCard{
  background-color: #ddb1b4c7;
}

.createEvent {
  background-color: rgba(195, 13, 31, 0.95);
  color: #ffffff;
  border: 2px solid #af0615;
}

.createEvent:hover {
  background-color: rgba(175, 17, 30, 0.4);
  color: white;
}

.event{
  background-color: #ddb1b4c7;
  width: 300px;
  padding: 25px;
  margin: 25px;
}
