/* You can add global styles to this file, and also import other style files */
body{

  background-color: rgba(133, 0, 9, 0.91);

 background-image: url("assets/images/background.jpg");
 background-repeat: no-repeat;
  background-size: cover;


}
